<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{% block title %} Вход {% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
            <H1>
            Форма входа
            </H1>
        {% endblock %}
    </header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        {% block nav %}
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
        </li>
        {% if not 'username' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}"> войти </a>
          </li>
      {% endif %}

      </ul>
    </div>
  </div>

        {% endblock %}
    </nav>

    <main>
        {% block main %}
        <br>
        {% for i in content %}

        {% endfor %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}

            <p>
                Наш подвал
            </p>

        {% endblock %}
    </footer>
</body>
</html>